
{% set level = level|default(0) %}
{% set maxLevels = maxLevels|default(100) %}
{% block list_tag_open %}<ul class="{{ containerClass|default('nav navbar-nav') }}">{% endblock %}

{% block items %}
    {% for item in items if item.isVisible() %}
        {% block item_variants %}
            {% if item.isDivider() %}
                {% block item_is_divider %}<li class="divider"></li>{% endblock %}
            {% elseif item.isSectionHeader() %}
                {% block item_is_header %}<li class="dropdown-header">{{ item.getTitle() }}</li>{% endblock %}
            {% else %}
               {% block item_include %}{% include item.getItemTemplate()|default("C33sMenuBundle::bootstrap_item_renderer.html.twig") with { 'level': level, 'maxLevels': maxLevels } %}{% endblock %}
            {% endif %}
        {% endblock %}
    {% endfor %}
{% endblock %}

{% block list_tag_close %}</ul>{% endblock %}
